
/* Your CSS Code here. */
table{
    border-collapse: collapse;
    width: 500px;
}
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
th{
    background-color: rgb(227, 125, 52);
}
td{
    background-color:rgb(246, 211, 146);
    font-size: 17px;
}